/*---------------+
| SASS VARIABLES |
+---------------*//* NEW variables declared specifically for the app. */
//rgb(36, 58, 120) //dsj blue
// #d24 //dsj red

$dsjred:               #cc092f; //#d24;
/*$dsjblue:     rgb(36, 58, 120);*/
$dsjblue:      #002878;
$dsjpurple:    #715ba7;
$dsjgrey:      #656566;

$font-sm:      12px;
$font-reg:     18px;
$font-med:     20px;
$font-lg:      26px;

$positive:      $dsjblue;

$sidemargin:   10px;
$topmargin:    5px;